$primary-very-light: #b6c5cd;
$primary-light: #557989;
$primary: #4396A1;
$primary-medium-dark: #297798;
$primary-dark: #387082;
$primary-very-dark: #2D2D29;

$accent: #92C7A3;
$accent-light: #DFECE6;
$danger: #FF0B37;
$danger-light: #FFF3F5;
$success: #2DCA73;
$success-light: #F3FFF8;
$warning: #FFB800;
$warning-light: #FFF8E6;

$purple: #4D00CA;
$purple-light: #D5BBFF;
$yellow: #CA9F00;
$yellow-light: #FFF1BB;
$blue: #0051CA;
$blue-light: #B0CDFA;
$blue-dark: #394D53;
$teal: #00B2CA;
$teal-light: #B3F4E1;
$orange: #D98304;
$orange-light: #FFDCBB;
$gray-light: #D7DFE9;
$gray-medium-light: #B2B6C2;
$gray: #7E858E;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;