@using IdentityServer.Quickstart.UI 
@model SetPasswordInputModel

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="registration-section">
            <div class="impact-card mt-5">
                <div class="title-section">
                    <div class="main-title h3">Set Your Password</div>
                </div>
                <div class="row">
                    <div class="card-body pb-0">
                        <div id="registration-form">
                            <form asp-route-returnUrl="~/" method="post">
                                <input type="hidden" asp-for="ResetToken" />
                                <input type="hidden" asp-for="Email" />

                                <div class="form-group">
                                    <label class="form-control-title" asp-for="Password"></label>
                                    <span class="small w-100">Password must contain one number and one special character.</span>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-title" asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
